@model IEnumerable<InfoMallWeb.Models.PromotionCustomer>

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@{
    Layout = "~/Views/Manage/_Layout.cshtml";
    ViewData.AddActiveMainPage(MainNavBar.Account);
    ViewData["Title"] = "Details";
    ViewData.AddActivePage(ManageNavPages.Details);
    ViewData["Success"] = null;
    string userId = null;
    int index = 0;
    ApplicationUser user = null;

    if (signInManager.IsSignedIn(User))
    {
        user = await userManager.GetUserAsync(User);
        userId = user.Id;
    }
}

<div class="row">
    <h2 class="col-md-12 lato-important sensible-bold font-size-36">Available Promotions</h2>

    @if (ViewBag.Success != null)
    {
        <p>@ViewBag.Success.ToString()</p>
    }
    <div class="col-md-12 font-size-12">
        @foreach (var item in Model.Where(p => p.Customer.UserId == userId))
        {
        <div class="mt-4 nice-border-bottom">
            @if (item.HasPaid)
            {
                <h3 class="lato-important sensible-bold font-size-16">You said you want us to do this: "@item.PromotionDetail"</h3>
                <p class="full-width lato-important">Expected Start Date: @item.ExpectedStartDate</p>
                <p class="full-width lato-important">Expected End Date: @item.ExpectedEndDate</p>

            }
            else
            {
                if (item.Price == (double)0)
                {
                    <h3 class="lato-important font-size-16">You said you want us to do this: "@item.PromotionDetail"</h3>
                    <p></p>
                    <p class="lato-important">We would contact you for your payment and update your dashboard</p>
                    <p></p>
                    <p class="lato-important">In the mean time, kindly fill this <a href="https://goo.gl/forms/GUBBca1EYtEQCBOE3" target="_blank">form</a> for us to have a basic understanding of your needs.</p>

                }
                else
                {
                    <h3 class="lato-important sensible-bold mb-4 font-size-16">You said you want us to do this: "@item.PromotionDetail"</h3>
                    <a onclick="@($"pay{index}")('@user.Email', @item.Price, '@user.UserName')" class="add-good-margin-top btn text-white btn-primary">Pay with bank</a>
                    <script>
                    function @($"pay{index}")(email, amount, firstName, custProdId) {

			            initRavePay({
                            PBFPubKey: 'FLWPUBK-0d1f67d88f088393c1f7cfafd807e6e8-X',
                            customer_email: email,
                            customer_firstname: firstName,
                            customer_lastname: "",
                            custom_description: "",
                            custom_logo: "",
                            custom_title: "InfoMall Promotion Payment",
                            amount: parseInt(amount),
                            customer_phone: "",
                            country: "NG",
                            currency: "NGN",
                            txref: "InfoPay-@item.PromotionCustomerId",

                            onclose: function () {
                                const s1 = '😭'
                                swal({
                                    text: "We are sad to see you go "+s1,
                                    icon: "error"
                                })
				            },
				            callback: function (response) {
                                 if (response.tx.chargeResponseCode == "00" ||
                                     response.tx.chargeResponseCode == "0") {
                                    let form = document.createElement('form');
                                    form.action = '@Url.Action("Edit", "PromotionCustomers", new { id = item.PromotionCustomerId,  payment = true })';
                                    form.method = 'Post';
                                    custProd = createElement("input", "PromotionCustomerId", "@item.PromotionCustomerId")
                                    hasPaid = createElement("input", "HasPaid", true)
                                    price = createElement("input", "Price", @item.Price)
                                    payType = createElement("input", "PaymentType", 2)
                                    validation = document.getElementsByName('__RequestVerificationToken')[0];
                                    valid = createElement("input", "__RequestVerificationToken", validation.value)

                                    form.appendChild(custProd);
                                    form.appendChild(hasPaid);
                                    form.appendChild(price);
                                    form.appendChild(payType);
                                    form.appendChild(valid);

                                    console.log(form);
                                    document.body.append(form);

                                    form.submit();
                                    swal({
                                        text: "Thank you for your payment",
                                        text: "We are setting you up!",
                                        icon: "success"
                                    })
                                }
                                else {
                                    swal({
                                        text: "We could not process your payment",
                                        text: "Please contact your bank if debited or call us to issue a complaint.",
                                        icon: "error"
                                    })
                                }
				            }
			            });
		            }
                    </script>
                }

            }
        </div>
            index++;

        }

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/rave.js"></script>
}